
#!/usr/bin/python

import etcd
import sys
from urlparse import urlparse

etcd_host = "{{ .Env.ETCD_HOST }}"
if not etcd_host:
    print "ETCD_HOST not set"
    sys.exit(1)

port = 4001
host = etcd_host

if ":" in etcd_host:
    host, port = etcd_host.split(":")

client = etcd.Client(host=host, port=int(port))

try:
    backends = client.read("/backends")
except (etcd.EtcdKeyNotFound, KeyError):
    client.write("/backends", None, dir=True)

{{ $local := . }}
{{ range $instance := . }}
{{   range $address := $instance.Addresses }}
{{     if $address.HostPort}}
# {{ $instance.Name }}
client.write("/backends/{{ replace $instance.Image.Repository "/" "-" -1 }}-{{ $address.Port }}/{{printf "%.*s" 12 $instance.ID }}", "{{ $local.Env.HOST_IP }}:{{ $address.HostPort }}", ttl=15)
client.write("/backends/{{ replace $instance.Image.Repository "/" "-" -1 }}-{{ $address.Port }}/port", "{{ $address.Port }}", ttl=15)
{{     end }}
{{   end}}
{{ end}}
