
#!/bin/bash

test -z "$ETCD_HOST" && echo "ETCD_HOST not set" && exit 1

test -z "$(echo $ETCD_HOST | cut -d':' -f2)" && ETCD_HOST="$ETCD_HOST:4001"

etcdctl() { etcdctl -C http://$ETCD_HOST --no-sync $@; }

etcdctl ls /backends || etcdctl mkdir /backends

{{ $local := . }}
{{range $key, $value := .}}
{{ $addrLen := len $value.Addresses }}
{{ if eq $addrLen 1 }}
{{ with $address := index $value.Addresses 0 }}

{{ if $address.HostPort}}
# {{ $value.Name }}

etcdctl set --ttl 15 "/backends/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}" "{{ $local.Env.HOST_IP }}:{{ $address.HostPort }}"
etcdctl set --ttl 15 "/backends/{{ $value.Image.Repository}}/port" "{{ $address.Port }}"

{{ end }}
{{ end }}
{{end}}
{{end}}
